body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
   
}

header {
    background-color: #3498db; /* Azul claro */
    padding: 15px;
    text-align: center;
}
h1 {
    font-size: 60px;
    margin: 15px 0 15px 0;
    
}
h1,h2,h3 {
    color: #333;
}

nav {
    margin-top: 20px;
    font-size: 30px;

}


nav a {
    color: #fff;   
     
}

.link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.link:hover{
    color: #333;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation{
    display: flex;
}


#photo-work {
    margin-right: 25px;
    margin-top: 20px;
    border-radius: 100%;
    width: 30%;
    aspect-ratio: 857/691;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.7);
   
  }
    
p {
    align-items: center;
    color: #555;
    font-size: 25px;
    line-height: 2.5rem;
    width: 60%;
   
}

#skills,#Projects,#certifications{
    font-size: 30px;
    text-align: center;


}


#tech-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.tech-logo {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 60%;
    
}

.tech-logo:hover{
    transform: translateY(-5%);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.7);

}

.tech-logo.HTML{
    background-image: url('/imagenes/icons8-html-5.svg');
    
}

.tech-logo.HTML a{
    display: block;
    text-indent: -9999px;
}


.tech-logo.css {
    background-image: url('/imagenes/icons8-css3.svg');
}


.tech-logo.javascript {
    background-image: url('/imagenes/icons8-javascript.svg');
}

.tech-logo.node {
    background-image: url('/imagenes/icons8-nodo-js.svg');
}

.tech-logo.github {
    background-image: url('/imagenes/icons8-github.svg');
}

.tech-logo.stripe {
    background-image: url('/imagenes/stripe-circle-round-blue-logo-19777.svg');
}

.tech-logo.swagger {
    background-image: url('/imagenes/file_type_swagger_icon_130134.svg');
}

.tech-logo.tailwind {
    background-image: url('/imagenes/tailwindcss.svg');
  
    
}


.tech-logo.React {
    background-image: url('/imagenes/icons8-reaccionar.svg');

    
}


.tech-logo.Git {
    background-image: url('/imagenes/icons8-git.svg');

    
}

.tech-logo.Gitkraken {
    background-image: url('/imagenes/gitkraken.svg');
   
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
   
}

.card {
    max-width: 358px; /* Adjust the maximum width as needed */
    width: 100%;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.7);
    border-radius: 8px;
    overflow: hidden;
  
     
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    width: 358px;
    height: auto;
    border-radius: 8px;
}

.card-content {
    padding: 20px;
}


.links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.logo {
    max-width: 30px;
    height: auto;
}




footer {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: auto;
}